http_interactions:
  - request:
      method: GET
      path: /
      headers:
      body:
        encoding: utf8
        data: ''
        compression: none
    response:
      status:
        code: 200
      headers:
        content-type: application/json; charset=utf-8
        etag: W/"d1b33bb9cc51fd639d6db1d726fd56f6d661a0568d0ff32b543a69a738014479"
        x-github-media-type: unknown, github.v3
        x-github-api-version-selected: '2022-11-28'
        x-ratelimit-limit: '60'
        x-ratelimit-remaining: '59'
        x-ratelimit-reset: '1714062900'
        x-ratelimit-resource: core
        x-ratelimit-used: '1'
      body:
        encoding: utf8
        data: |
          {
            "current_user_url": "https://api.github.com/user",
            "current_user_authorizations_html_url": "https://github.com/settings/connections/applications{/client_id}",
            "authorizations_url": "https://api.github.com/authorizations",
            "code_search_url": "https://api.github.com/search/code?q={query}{&page,per_page,sort,order}",
            "commit_search_url": "https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}",
            "emails_url": "https://api.github.com/user/emails",
            "emojis_url": "https://api.github.com/emojis",
            "events_url": "https://api.github.com/events",
            "feeds_url": "https://api.github.com/feeds",
            "followers_url": "https://api.github.com/user/followers",
            "following_url": "https://api.github.com/user/following{/target}",
            "gists_url": "https://api.github.com/gists{/gist_id}",
            "hub_url": "https://api.github.com/hub",
            "issue_search_url": "https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}",
            "issues_url": "https://api.github.com/issues",
            "keys_url": "https://api.github.com/user/keys",
            "label_search_url": "https://api.github.com/search/labels?q={query}&repository_id={repository_id}{&page,per_page}",
            "notifications_url": "https://api.github.com/notifications",
            "organization_url": "https://api.github.com/orgs/{org}",
            "organization_repositories_url": "https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}",
            "organization_teams_url": "https://api.github.com/orgs/{org}/teams",
            "public_gists_url": "https://api.github.com/gists/public",
            "rate_limit_url": "https://api.github.com/rate_limit",
            "repository_url": "https://api.github.com/repos/{owner}/{repo}",
            "repository_search_url": "https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}",
            "current_user_repositories_url": "https://api.github.com/user/repos{?type,page,per_page,sort}",
            "starred_url": "https://api.github.com/user/starred{/owner}{/repo}",
            "starred_gists_url": "https://api.github.com/gists/starred",
            "topic_search_url": "https://api.github.com/search/topics?q={query}{&page,per_page}",
            "user_url": "https://api.github.com/users/{user}",
            "user_organizations_url": "https://api.github.com/user/orgs",
            "user_repositories_url": "https://api.github.com/users/{user}/repos{?type,page,per_page,sort}",
            "user_search_url": "https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"
          }
        compression: gzip
